* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header img {
    width: 250px;
}

#headerTabla, #cuerpoTabla {
    
    text-align: center;
}


#footer {
    background-color: #000;
    color: #e9ecef;
    text-align: center;
    position:relative;

    width: 100%;
}

#footer a {
    text-decoration: none;
    color: #e9ecef;

}

.container {
    margin: auto;
}

